<router-outlet></router-outlet>
<app-home></app-home>

<div class = "container">
    <div class ="row">
        <div class="col">
            <form #postForm="ngForm" (ngSubmit)="addProduct(postForm.value)">
                <div class="input-">
                    <span class ="input-text">Image Path</span>
                    <input type ="text" class="form-contril" ngModel name="img">
                </div>

                <div class="input-">
                    <span class ="input-text">Title</span>
                    <input type ="text" class="form-contril" ngModel name = "alt">
                </div>

                <button class="dark-btn" type="submit">
                    Add image
                </button>

                <h2></h2>

                <h1></h1>

                <p></p>

            </form>
        </div>
    </div>
</div>
