<div class = "Contact"> 
    <app-nav-bar></app-nav-bar>
    <app-footer></app-footer>
    <div class="Homebody">
        <meta name="homeBody" content="width=device-width, initial-scale=1">
    
    <style>
        .contact{
       
       font-size: 22px;
     margin: 0px 0px;
       background: none;
       padding: 200px; 
       padding-top: 80px;
       padding-bottom: 60px;
       background-image: url(https://hbomax-images.warnermediacdn.com/2020-12/201215_hbomax_waystoget.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
     background-size: cover;
      
     }
     
     .contact2{
             
             margin: 25px 25px;
             background: #030328;
             padding: 190px;
             padding-top: 30px;
             font-size: 20px;
             
         }
    </style>
    
    <body style="background-color: #030328; color: white; 
    font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">
    
    <div class="contact" style = "text-align: center; background-image: url(https://hbomax-images.warnermediacdn.com/module-assets/gradient2.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com);
    ">
        <h3><strong>Press Contacts</strong></h3>
        
        <p><strong>Press Contact for HBO Max</strong></p>

        <p>HBOandHBOMaxPR@warnermedia.com</p>
       
    </div> 
    
    
    <div class="contact2" style="text-align: center;">
    <p>PRIVACY POLICY      TERMS OF USE</p> 
    <p>Cookie Settings</p>
    <p>©2023 WarnerMedia Direct, LLC. All Rights Reserved. HBO Max™ is used under license.</p>
    
    </div> 
    <app-footer></app-footer>
    </body>
    </div>
</div>