<div class="About"></div>
<app-nav-bar></app-nav-bar>
<div class="Homebody">
    <meta name="homeBody" content="width=device-width, initial-scale=1">

<style>
    .about{
   
   font-size: 22px;
 margin: 0px 0px;
   background: none;
   padding: 200px; 
   padding-top: 80px;
   padding-bottom: 60px;
   background-image: url(https://hbomax-images.warnermediacdn.com/2020-12/201215_hbomax_waystoget.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
 background-size: cover;
  
 }
 
 .about2{
         
         margin: 0px 0px;
         background: #030328;
         padding: 190px;
         padding-top: 30px;
         font-size: 20px;
         
     }
</style>

<body style="background-color: #030328; color: white; 
font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">

<div class="about" style="text-align: center;">
    <h2>Ways to Get HBOMAX</h2>
    <p>Here are all the ways you can start Streaming</p>
</div>
<div class="about" style = "text-align: center; background-image: url(https://hbomax-images.warnermediacdn.com/module-assets/gradient2.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com);
padding: 5px">
    <p>If you need more help, visit our <strong style = "color:  rgb(130,77,242);" href = " ;">Help Center</strong> or <strong style = "color:  rgb(130,77,242);" href = " ;">click here</strong> and
    we'll guide you through it. </p>
</div> 


<div class="about2" style="text-align: center;">
<h2> HBOMax.com </h2>
<p><strong style = "color:  rgb(130,77,242);" href = ";">Learn more</strong> about what's on HBO Max or go ahead and <strong style = "color:  rgb(130,77,242);" href = " ;">sign up now</strong>.
</p>

</div> 
<app-footer></app-footer>
</body>
</div>