<div class="Home">
    <app-nav-bar></app-nav-bar>
    <app-footer></app-footer>
    <div class="Homebody">
    
        <meta name="homeBody" content="width=device-width, initial-scale=1">
    
    <style>
        .box{
       
       font-size: 22px;
     margin: 0px 0px;
       background: none;
       padding: 200px; 
       padding-top: 80px;
       padding-bottom: 60px;
       background-image: url(https://hbomax-images.warnermediacdn.com/2020-12/201215_hbomax_waystoget.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
     background-size: cover;
      
     }
     
     .box2 {
             
             margin: 0px 0px;
             background: #030328;
             padding: 190px;
             padding-top: 30px;
             font-size: 20px;
             
         }
    </style>
    
    <body style="background-color: #030328; color: white; 
    font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">
    
    <div class="box">
        <h3>Do I Already Have Access to HBO Max?</h3>
        <p>If you currently have HBO, you already have access to HBO Max. 
            Let's get you up and streaming! Please note: HBO Max subscription plans vary by subscription provider.
        </p>
    </div>
    
    <div class="box2">
    <h2> If you have HBO without a TV package </h2>
    <p>If you subscribe to HBO through <strong>Amazon Appstore, Apple, Google Play, Roku Channel Store, 
        Samsung TV, WarnerMedia, Consolidated Communications, Liberty, North State, Optimum, Service Electric Cablevision, 
        Verizon Fios</strong>, or <strong>Ziply Fiber</strong>, then you have access to HBO Max Ad-Free right now, at no extra cost!
    </p>
    <p>Download the HBO Max app and sign in with your existing HBO email and password, choose <strong>Access all of HBO Max,</strong> and start streaming instantly.
    
    </p>
    </div> 
    </body>
    </div>
</div>